.section.hero {
 
  .hero-title {
  color: #ffc107;
  }
  .hero-text {
    color: #fff;
  }
}
.hero{
  margin-top: 20px;
  
  background-image: url(./img/Taller_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;

}
