<footer class="shared footer bg-dark py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h4 class="fs-4 fw-semibold text-uppercase text-warning">{{ .Site.Title }}</h4>
        <p class="small text-warning">{{ .Site.Params.description }}</p>
        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">

          {{ with .instagram }}<li class="rounded-circle bg-warning me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/instagram.html" }}</a></li>{{ end }}
          {{ with .facebook }}<li class="rounded-circle bg-warning me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/facebook.html" }}</a></li>{{ end }}

        </ul>
        {{ end }}
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-warning">Sobre nosotros</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
            <li class="">
              <a class="small text-warning text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-warning">Localización</h5>
        <ul class="list-unstyled">
          {{ range .Site.Params.location }}
            <li class="d-flex justify-content-center justify-content-xl-start mb-2">
              <div class="d-flex align-items-center text-warning">{{ partial "icons/geo-alt.html" }}</div>
              <p class="small text-warning m-0 ps-2">{{ . }}</p>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-warning">Contacta con nosotros</h5>
        {{ range .Site.Params.contact }}
          <p class="small text-warning mb-1">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-warning text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
