<section id ="cta" class="section cta py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
          <h3 class="fs-1 fw-bold text-center text-warning pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
      </div>
    </div>
    <div class="row justify-content-center p-5">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.571322692799!2d-1.660745323472092!3d42.8185440711539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd50928c96c8f6c7%3A0x26efad12044d0f64!2sMotor%20Mecanic!5e0!3m2!1ses!2ses!4v1715239695530!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center p-4">
        {{ with .content.button }}
          <a class="btn btn-outline-primary px-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
