
<div class="slider">

  <div class="slides">
    <div class="slide"><img src="./img/bosh.png"  alt="Image 1"></div>
    <div class="slide"><img src="./img/castrol.png" alt="Image 2"></div>
    <div class="slide"><img src="./img/mann.png" alt="Image 3"></div>
    <div class="slide"><img src="./img/monroe.png" alt="Image 4"></div>
    <div class="slide"><img src="./img/michelin.png" alt="Image 5"></div>
    <div class="slide"><img src="./img/bosh.png"  alt="Image 6"></div>
    <div class="slide"><img src="./img/castrol.png" alt="Image 7"></div>
    <div class="slide"><img src="./img/mann.png" alt="Image 8"></div>
    <div class="slide"><img src="./img/monroe.png" alt="Image 9"></div>
    <div class="slide"><img src="./img/michelin.png" alt="Image 10"></div>
  </div>
 
</div>